// Theming bootstrap
// https://getbootstrap.com/docs/4.0/getting-started/theming/

// To modify an existing color in our $theme-colors map
// To add a new color to $theme-colors, add the new key and value:
$theme-colors: (
  "primary": #007cbd,
  // #007cbd meets accessibility contrast ratio,
);

// then import Bootstrap
@import "bootstrap";

body {
  padding-top: 75px;
}

.nav-tabs {
  .nav-link {
    border-top: $nav-tabs-border-width solid #e9ecef;
    border-left: $nav-tabs-border-width solid #e9ecef;
    border-right: $nav-tabs-border-width solid #e9ecef;
    border-bottom: $nav-tabs-border-width solid transparent;
    border-style: dotted;
    @include border-top-radius($nav-tabs-border-radius);
    @include hover-focus {
      border-style: solid;
    }
  }
  .nav-link.active,
  .nav-item.show .nav-link {
    border-style: solid;
  }
}

// then load custom components
@import "../components/NavBar/styles";
@import "../components/NewsList/styles";
